@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Raleway:wght@200;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

.colored {
    background-color:rgb(245, 245, 245);
    padding: 10px 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    color: rgb(22, 22, 22);
    font-weight: 200;
}

.bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.title-bold {
    font-family: 'Paytone One', sans-serif;
    font-size: large;
    color: rgb(100, 100, 255);
    font-weight: 400;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

#headshot {
    position: absolute;
    top: 5vh;
    left: 20vh;
}

#computer {
    position: absolute;
    top: 5vh;
    right: 20vh;
}

hr {
    border-style:groove;
    color: purple;
}

body {
    margin: 0;
}

div .colored {
    background-color:darkgrey;
    padding: 10px 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    color: rgb(22, 22, 22);
    font-weight: 100;
}

.bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.title-bold {
    font-family: 'Paytone One', sans-serif;
    font-size: large;
    color: rgb(100, 100, 255);
    font-weight: 400;
}

img {
    border: 2px;
    border-radius: 10px;
    height: 100px;
}

a {
    text-decoration: none;
    color: pink;
}

a :hover {
    text-decoration: underline;
    color: aqua;
}

div .column {
    display: flex;
}

.column > div:first-child  {
    float: left;
}

.column > div:last-child {
    float: right;
}

.intro {
    padding: 20px;
    max-width: 15%;
    background-color: rgb(201, 201, 201);
}

.my-skills {
    padding: 15px;
}

.bottom {
    background-color: rgb(43, 43, 43);
    width: 100%;
    text-align: center;
    height: 30px;
    position: fixed;
    bottom: 0px;
}

.bottom p {
    color: white;
    

}